//Functions and other variables
@import 'inc/colors.scss';
@import 'variables.scss';
@import 'inc/helpers.scss';

//Styling for default HTML and UX elements
@import 'styles/headings.scss';
@import 'styles/dot-leader.scss';
@import 'styles/options.scss';
@import 'styles/progress-bar.scss';
@import 'styles/label.scss';
@import 'styles/badge.scss';
@import 'styles/animation.scss';
@import 'styles/buttons.scss';
@import 'styles/form.scss';
@import 'styles/table.scss';

//Critical Game mechanics
@import 'elements/ooc.scss';
@import 'elements/commods.scss';
@import 'elements/beacon.scss';
@import 'elements/bluespace.scss';
@import 'elements/notification.scss';

//Layouts
@import 'layout/bars.scss'; //Header and footer
@import 'layout/base.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $black;
  @include font();
  padding: 0;
  margin: 0;
}

a {
  color: $maincolor;
  text-decoration: none;
}
