
@import (less) "icons.less";
@import (less) "colors.less";

.font-stack{
  font-family: 'Share Tech Mono', monospace;
}

.font-fallback{
  font-family: monospace;
}

.bars {
  background: darken(@red, 40%);
  color: @red;
  position: fixed;
  left: 0;
  right: 0;
  padding: 5px 10px;
  z-index: 1000;
}


.mainborder {
  border: 1px solid @maincolor;
}

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

.inverse {
  background: @maincolor;
  color: black;
}

@breakpoint-ios: 768px;

@media screen and (max-width: @breakpoint-ios) {
  .mainborder {
    border: 1px solid black;
  }
  .inverse {

  }

}

//Main CSS
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // text-shadow: 2px 0px 0px green, -2px 0px 0px magenta;
}

 //#game *,
 //.headerbar,
 //.footerbar {
 // -webkit-animation: glitch 1s infinite alternate linear;
 //}

@-webkit-keyframes glitch {
  0%,100% {
      text-shadow: 3px -3px 0px #00FF00, -3px 3px 0px magenta;
      color: @maincolor;
      -webkit-transform: transformX(-1deg);
      box-shadow: 3px -3px 0px #00FF00;
    }
  10% {
      text-shadow: -3px 3px 0px #00FF00, 3px -3px 0px magenta;
      color: @maincolor;
      -webkit-transform: transformY(1deg);
      box-shadow: -3px 3px 0px magenta;
    }
  50% {
      text-shadow: 0px 3px 0px #00FF00, 3px 0px 0px magenta;
      color: @maincolor;
      -webkit-transform: transformX(-1deg);
      box-shadow: 0px 3px 0px magenta;
     }
  75% {
      text-shadow: 3px 0px 0px #00FF00, 0px 3px 0px magenta;
      color: @maincolor;
      -webkit-transform: transformY(1deg);
      box-shadow: 3px 0px 0px #00FF00;
     }
}


body {
  .font-stack;
  background: url(../img/ca-logo.svg) center center no-repeat fixed black;
  color: @maincolor;
  background-size: 95%;
}

@media screen and (max-width: @breakpoint-ios) {
  body {
      padding: 0;
      margin: 0;
  }
}

body.admin {
  background-color: darken(@red, 30%);
}

#game.bluespace {
  background-color: darken(@blue, 30%);
}

a {
  color: @maincolor;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a[disabled=true],
::disabled {
  color: @gray !important;
  cursor: not-allowed;
}

.options li a[disabled=true],
a.btn[disabled=true],
a.btn[disabled],
*[disabled] {
  border-color: @gray !important;
  color: @gray !important;
  background: black;
  cursor: not-allowed
}

.options li a[disabled=true]:hover,
a.btn[disabled=true]:hover,
a.btn[disabled]:hover,
*[disabled]:hover{
  border-color: @gray !important;
  color: @gray !important;
  background: inherit !important;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
  z-index: 100;
}

h1 {
  border-bottom: 3px solid @maincolor;
  .clearfix;
}

h2 {
  border-bottom: 1px solid @maincolor;
  .clearfix;
}


hr {
  height: 0;
  border-top: 1px solid;
  border-color: inherit;
  margin: 20px 0;
  .clearfix;
}

small {
  font-size: 75%;
}

canvas {
  max-width: 100%;
  height: auto;
}

form {
  .mainborder;
  padding: 20px;
}

form,
.rightbar,
.leftbar,
.options li a{
  background: @fill;
}

input,
textarea {
  background: transparent;
  border: 1px solid transparent;
  border-bottom-color: @maincolor;
  border-left-color: @maincolor;
  min-width: 250px;
  color: @maincolor;
  font-size: 150%;
  .font-stack;
}

textarea {
  min-width: 100%;
}

input[type=radio],
form.vertical input[type=radio] {
  display: inline !important;
  width: auto;
  margin: 0;
}

label.radio {
  display: block;
  .mainborder;
  padding: 5px;
  margin: 0 0 5px 0;
}

label.radio:hover {
.inverse;
}

input:focus,
textarea:focus  {
.inverse;
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  .mainborder;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.rightbar form label input[type=radio] {
  float: right;
  margin: 0 0 0 10px;
}

label {
  background: @maincolor;
  color: black;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 0 5px 0;
}

input {
  display: block;
  width: 100%;
  margin: 0;
}

 select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
  color: inherit;
  border: none;
}
select:focus {
  .inverse;
  outline: none;
}
.select {
  display: inline-block;
  .mainborder;
}
.select:after {
  font: normal normal normal 14px/1 'FontAwesome';
  content: "\f0d7";
  padding: 0 5px 0 0;
}

.control-group {
  margin: 0 0 10px 0;
}

*::-webkit-input-placeholder {
  color: @maincolor;
  font-size: 75%;
  text-align: right;
  .font-stack;
  letter-spacing: 2px;
}

*::-webkit-input-placeholder:after {
  content: " <";
}

*:focus::-webkit-input-placeholder {
  color: black;
}


.headerbar {
  .bars;
  top: 0px;
}

.footerbar {
  .bars;
  bottom: 0px;
}

@media screen and (max-width: @breakpoint-ios) {
  .headerbar,
  .footerbar {
    position: relative;
    clear: both;
    height: auto;
    .clearfix;
  }
}

.headerbar a,
.footerbar a {
  color: @red;
  border-bottom: 1px dotted @red;
  text-decoration: none;
}

.headerbar a:hover,
.footerbar a:hover {
  border: none;
}

.headerbar a:before,
.footerbar a:before {
  content: "> ";
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-center {
  margin: 0px auto;
  text-align: center;
  clear: both;
}

.form-title {
.inverse;
  padding: 10px;
  margin: 0 0 -1px 0;
  display: inline-block;
  width: auto;
}

.form-group {
  margin: 0 0 20px 0;
}

.bigleft {
  width: 49%;
  float: left;
}

.bigright {
  width: 49%;
  float: right;
}

.login {
  background-color: black;
  padding: 20px;
  .mainborder;
  box-shadow: 10px 10px 0 0 black;
}

.biglogin p {
  margin: 10px 0 0 0;
}

.biglogin form button {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
}

.biglogin .form-group form input {
  display: block;
  width: 100%;
  font-size: 200%;
}

.biglogin h1 {
  font-size: 200%;
}

form button {
  border: 2px solid @maincolor;
  background: @fill;
  color: @maincolor;
  .font-stack;
  font-size: 150%;
}

form button:hover {
.inverse;
}

form button:active,
form button:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
.inverse;
}

form.vertical button,
form.vertical textarea {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
}

.dialog {
  .mainborder;
  padding: 20px;
  position: absolute;
  z-index: 1000;
  left: 15%;
  right: 15%;
  top: 25%;
  box-shadow: 10px 10px 0 0 black;
}

.error {
  background: rgb(255,0,0);
  color: white;
  border-color: rgb(255,0,0);
  text-transform: uppercase;
}

.dialog.error h1 {
  border-color: white !important;
}

.dialog.error h1:before {
  content: "> ";
}

// .leftbar,
// .rightbar,
// .center,
// .wide,
// .fiftyfifty {
//   box-shadow: 0px 0px 8px lighten(@maincolor, 10%),
//   inset 0px 0px 8px lighten(@maincolor, 10%);
// }

@import 'foundation.less';

.location-box img {
  display: block;
  margin: 0 auto;
}

ul.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.options li a{
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;
}

ul.options li a:before {
  content: "> ";
}

.rightbar ul.options li a:after {
    content: " <";
}

.rightbar ul.options li a:before {
    content: "";
}

ul.options li a {
  .mainborder;
  padding: 5px;
  display: block;
  color: @maincolor;
  text-decoration: none;
}

ul.options li a:hover {
.inverse;
}

.dot-leader {
  margin: 0 0 20px 0 !important;
}

.dot-leader,
.dot-leader li {
  margin: 0;
  list-style-type: none;
  clear: both;
  padding: 0;
}

.dot-leader li {
  border-bottom: 1px dotted @maincolor;
  height: 14px;
  margin: 10px 0 0 0;
}

.dot-leader li .left,
.dot-leader li span:first-child {
  float: left;
  text-align: left;
  background: black;
  padding: 0 5px 0 0;

}

.dot-leader li .right,
.dot-leader li span:last-child {
  float: right;
  text-align: right;
  background: black;
  padding: 0 0 0 5px;
}

.options .options {
  padding: 0 0 0 10px;
  border-left: 1px dotted @maincolor;
}

.technical {
  font-family: ;
  .mainborder;
  padding: 10px;
}

.technical p {
  margin: 0;
}

.technical strong {
  text-transform: uppercase;
}

.rightbar #fingerprint,
.leftbar #fingerprint {
  font-size: 75%;
  margin: -20px 0 20px 0;
  display: block;
}

.ca-logo {
  margin: 10px auto 10px auto;
  display: block;
  max-width: 75%;
  height: auto;
}

.green {
  color: @green;
}

.red {
  color: @red;
}

.planet {
  background: @maincolor;
}

.ca-logo-path,
.planet-icon {
  fill: @maincolor;
}

.meters {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.meters li {
  margin: 0 0 10px 0;
  padding: 0;
  .font-fallback;
}

.progress {
  .mainborder;
  padding: 2px;
  height: 13px;
  margin: 3px 0;
}

.progress div {
  height: 7px;
  display: block;
  background: @maincolor;
}

.panic {
  -webkit-animation: panic 2s infinite linear;
  border-color: red;
  color: red;
}

.panic-icon {
  -webkit-animation: panic-icon 2s infinite linear;
  color: red;
  border: none;
}

.panic div {
  background: red;
}

@-webkit-keyframes panic-icon {
  0%,75%,100% {text-shadow: 2px 2px 2px red,-2px -2px 2px red,-2px 2px 2px red,2px -2px 2px red,;}
  60%, 90% {text-shadow: 0px 0px 0px red;}
}

@-webkit-keyframes panic {
  0%,75%,100% {box-shadow: 0 0 10px red,inset 0 0 10px red;}
  60%, 90% {box-shadow: 0 0 0px red;}
}

.fa.newmsgs {
  color: red;
}


.credits {
  color: @credits;
}

.color.yellow > .credits,
tr.commod-M .credits {
  text-shadow: 0px 0px 1px black;
}

.btn {
.inverse;
  padding: 5px;
  font-size: 150%;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
}

.btn:hover {
  background: @fill;
  color: @maincolor;
  .mainborder;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-danger {
  color: @red;
  background: darken(@red, 40%);
}

.btn-danger:hover {
  color: darken(@red, 40%);
  background: @red;
}

td .btn {
  display: block;
  font-size: 90%;
}

#map-canvas {
  width: 100%;
  height: 512px;
  .mainborder;
  color: black;
}

.notification {
  .headerbar;
  -webkit-animation: notification .25s linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2s
}

.notify-read {
  .headerbar;
  -webkit-animation: notification .25s linear;
  -webkit-animation-fill-mode: forwards;
}

.notify-unread {
  .headerbar;
  -webkit-animation: notification-in .25s linear;
  -webkit-animation-fill-mode: forwards;
}

.headerbar .msglist li {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 28px;
  padding: 5px 10px;
  overflow: hidden;
}



@-webkit-keyframes notification {
  0% {top: 0px;}
  100%{top: -40px;}
}

@-webkit-keyframes notification-in {
  0%{top: -40px;}
  100% {top: 0px;}
}

#Countdown {
  .mainborder;
  font-size: 1250%;
  text-align: center;
}

@media screen and (max-width: @breakpoint-ios) {
  #Countdown {
    font-size: 370%;
  }
}

#ftlmsg {
  .mainborder;
  background: @fill;
  padding: 20px;
  margin-top: -1px;
  font-size: 200%;
}

.fit{display:block;float:left}.colorbars{position:fixed;top:0;left:0;right:0;bottom:0;z-index:10}.first-row{width:14.285714285714286%;height:70%;display:block;float:left}.second-row{width:14.285714285714286%;height:5%;display:block;float:left}
.third-row{width:14.285714285714286%;height:25%;display:block;float:left}.gray{background:#808080}.yellow{background:#ff0}.cyan{background:#0ff}.green-cb{background:#0f0}.magenta{background:#f0f}.red-bar{background:#f00}.blue{background:#00f}.black{background:#000}
.white{background:#fff}.gray-1{background:#d4d4d4}.gray-2{background:#ababab}.gray-3{background:#545454}.gray-4{background:#292929}
.colorbars h1 {
  background: black;
  color: white;
  padding: 20px;
  font: 24px/32px Monospace;
  position: absolute;;
  bottom: 40px;
  left: 20px;
  border: none;
  -webkit-font-smoothing: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  .mainborder;
}

table th {
.inverse;
  padding: 5px;
  text-align: left;
  border: 1px solid #444;
}

table tr:hover {
  background: darken(@maincolor, 50%);
}

table td {
  padding: 5px;
  border: 1px solid #444;
}

table tr {
  position: relative;
}

table tr form {
  border: none;
  padding: 0px;
  background: transparent;
  font-size: inherit;
}

table tr form input,
table tr form button {
  font-size: inherit;
}


tr.unread {
  background: #333;
}

tr.unread.system {
  background: darken(red, 20%);
}

.xdebug-error,
.xdebug-error tbody tr th {
  background: orange;
  color: black;
  font: Monospace;
  font-size: 125%;
}

.helpText {
  .mainborder;
  font-family: Monospace;
  padding: 5px;
  position: absolute;
  z-index: 50;
  background: black;
}

.beacon {
  padding: 10px;
}

.beacon.distress {
  background: darken(@red, 40%);
  color: red;
  font-size: 125%;
  margin: 0 0 10px 0;
  border: 1px solid red;
}

.beacon h1 {
  border: none;
  margin: 0 0 10px 0;
}

.beacon.distress .fa {
  text-shadow: 0 0 8px red;
  -webkit-animation: pulse infinite 2s linear;
}

@-webkit-keyframes pulse {
  0%,100% {text-shadow: none;}
  50%,75% {text-shadow: 0 0 8px red;}
}

.contacts {
  .clearfix;
}

.box {
  .mainborder;
  margin: 0 0 20px 0;
}

.contact {
  width: 49%;
}

.contact:nth-child(even) {
  float: left;
}
.contact:nth-child(odd) {
  float: right;
}

.box p {
  padding: 0 10px;
  margin: 0;
}

.box h3 {
  .inverse;
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: center;
}

.box .fingerprint {
  font-size: 75%;
  display: block;
  padding: 10px;
  text-align: right;
}

.box .meters,
.box .dot-leader {
  padding: 0 10px;
}

.box .btn-block {
  border: 1px solid black;
}

.box .btn-block:hover {
  border: 1px solid black;
  border-top-color: @maincolor;
}

.bignumber {

}

.bignumber .number {
  font-size: 750%;
  display: inline;
  letter-spacing: -5px;
}

.bignumber .unit {
  display: inline;
}

.invoice {
  .mainborder;
  padding: 10px;
}

.invoice h2 {
  border-bottom: 2px solid @maincolor;
}

.invoice .dot-leader li:last-child {
  border-top: 2px solid @maincolor;
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  height: 21px;
}

.msg.single {
  .mainborder;
  margin: 0 0 10px 0;
}

.msg.single.unread{

}

.msg.single.self {
  text-align: right;
}

.msg.single p {
  padding: 0 10px;
}


.msg.single h3 {
  background: @maincolor;
  color: black;
  padding: 10px;
  margin: 0;
}

.msg.single h3 small {
  display: block;
  font-size: 65%;
  margin: -1px 0 0 0;
  border-top: 2px solid black;
  padding: 2px 0 0 0;
}

.msg.single p small {
  font-size: 75%;
}

.msg-reply h3 {
  font-size: 150%;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: 3px solid @maincolor;
}

.msg-reply button {
  display: block;
  width: 100%;
}

.msg .tech {
  font-family: monospace;
}

ul.options li.color {
  padding: 5px;
}

ul.options.changelog li.olive:before {
  content: 'New •';
}

ul.options.changelog li.yellow:before {
  content: 'Changed •';
}

ul.options.changelog li.red:before {
  content: 'Removed •';
}

ul.options.changelog li p {
  padding: 0;
  margin: 0;
}

.ooc:before {
  font-size: 32px;
  content: "-- OOC --";
  display: block;
}

.ooc {
  font-family: Monospace;
  color: red;
  font-weight: bold;
  background: white;
  border: 1px solid red;
  padding: 10px;
}

.commodity {
  padding: 5px;
  .mainborder;
  border-left-width: 10px;
  margin: 0 0 10px 0;
  background: @fill;
}

.commodity h3 {
  margin: 0;
}
.commodity h3 small {
  display: block;
}

.commodity form {
  padding: 0;
  border: none;
  background: transparent;
  float: right;
  margin: 6px 0 0;
}

.commodity form input {
  font-size: inherit;
  display: inline;
  width: 100px;
  min-width: 0px;
}

.commodity form button {
  font-size: inherit;
  display: inline;
  width: 200px;
  min-width: 0px;
}

.commodity form button {
  .mainborder;
}


#singleField {
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.zebra {
  background: @maroon;
}

.ship-img svg {
  max-height: 192px;
  width: auto;
  float: left;
  clear: right;
  margin: 0 20px 20px 0;
  .mainborder;
  padding: 10px;
}

table.misn tr.R,
tr.commod-R {
  .color.olive;
}

table.misn tr.S,
tr.commod-S {
  .color.navy;
}

table.misn tr.M,
tr.commod-M {
  .color.yellow;
}

tr.commod a {
  color: inherit;
}

table thead tr th.tablesorter-headerAsc {
  .sort-asc;
  background-position: 98% center;
  background-repeat: no-repeat;
}

table thead tr th.tablesorter-headerDesc {
  .sort-desc;
  background-position: 98% center;
  background-repeat: no-repeat;
}

table thead tr th.tablesorter-headerUnSorted{
  .unsorted;
  background-position: 98% center;
  background-repeat: no-repeat;
}
