//Defaults from https://github.com/mrmrs/colors-saturated

@navy:  #002B75;
@blue:  #0050D4;
@aqua:  #00D9F7;
@teal:  #00A6A6;
@olive: #00B562;
@green: #00D942;
@lime:  #B4D900;
@yellow:  #EBCF00;
@orange:  #EB7700;
@red:     #EB0012;
@maroon:  #790009;
@fuchsia: #FF00C3;
@purple:  #8D00FF;
@white:  #fff;
@silver: #777;
@gray:   #333;
@black:  #000;

//LESS variables and functions
@maincolor: rgb(180, 199, 255);

@credits: @yellow;

@fill: rgba(0,0,0,.5);

.font-stack{
  font-family: 'Share Tech Mono', monospace;
}

.font-fallback{
  font-family: monospace;
}

.bars {
  background: darken(@red, 40%);
  color: @red;
  position: fixed;
  left: 0;
  right: 0;
  padding: 5px 10px;
  z-index: 50;
}

.mainborder {
  border: 1px solid @maincolor;
}

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

.inverse {
  background: @maincolor;
  color: black;
}

@breakpoint-ios: 768px;

@media screen and (max-width: @breakpoint-ios) {
  .mainborder {
    border: 1px solid black;
  }
  .inverse {

  }

}

//Main CSS
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .1s;
  // text-shadow: 2px 0px 0px green, -2px 0px 0px magenta;
  //-webkit-animation: glitch 10s infinite alternate linear;
}

@-webkit-keyframes glitch {
  0% {text-shadow: 3px 0px 0px green,-3px 0px 0px magenta;}
  100% {text-shadow: none;}
}

body {
  .font-stack;
  background: url(../img/ca-logo.svg) center center no-repeat fixed black;
  color: @maincolor;
  background-size: 1200px 300px;
}

@media screen and (max-width: @breakpoint-ios) {
  body {
      background-size: 300px 300px;
      padding: 10px;
      margin: 0;
  }
}

body.admin {
  background-color: darken(@red, 30%);
}

#game {
  padding: 30px 10px;
  .clearfix;
  margin: 0;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 0px;
  right: 0px;
  overflow: scroll;
}

@media screen and (max-width: @breakpoint-ios) {
 #game {
    position: relative;
    padding: 0;
    .clearfix;
  }
}

a {
  color: @maincolor;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a[disabled=true],
::disabled {
  color: @gray;
  cursor: not-allowed;
}

.options li a[disabled=true],
a.btn[disabled=true],
a.btn[disabled],
*[disabled] {
  border-color: @gray !important;
  color: @gray;
  background: black;
  cursor: not-allowed
}

.options li a[disabled=true]:hover,
a.btn[disabled=true]:hover,
a.btn[disabled]:hover,
*[disabled]:hover{
  border-color: @gray;
  color: @gray;
  background: inherit;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
  z-index: 100;
}

h1 {
  border-bottom: 3px solid @maincolor;
}

form,
.rightbar,
.leftbar,
.options li {
  background: @fill;
}

input,
textarea {
  background: transparent;
  border: 1px solid transparent;
  border-bottom-color: @maincolor;
  border-left-color: @maincolor;
  min-width: 250px;
  color: @maincolor;
  font-size: 150%;
  .font-stack;
}

textarea {
  min-width: 100%;
}

input[type=radio],
form.vertical input[type=radio] {
  display: inline !important;
  width: auto;
  margin: 0;
}

label.radio {
  display: block;
  .mainborder;
  padding: 5px;
  margin: 0 0 5px 0;
}

label.radio:hover {
.inverse;
}

input:focus,
textarea:focus  {
.inverse;
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  .mainborder;

} 

.rightbar form label input[type=radio] {
  float: right;
  margin: 0 0 0 10px;
}

*::-webkit-input-placeholder {
  color: @maincolor;
  font-size: 75%;
  text-align: right;
  .font-stack;
  letter-spacing: 2px;
}

*::-webkit-input-placeholder:after {
  content: " <";
}

*:focus::-webkit-input-placeholder {
  color: black;
}

form {
  .mainborder;
  padding: 20px;
}


.headerbar {
  .bars;
  top: 0px;
}

.footerbar {
  .bars;
  bottom: 0px;
}

@media screen and (max-width: @breakpoint-ios) {
  .headerbar,
  .footerbar {
    position: relative;
    clear: both;
    height: auto;
    .clearfix;
  }
}

.headerbar a,
.footerbar a {
  color: @red;
  border-bottom: 1px dotted @red;
  text-decoration: none;
}

.headerbar a:hover,
.footerbar a:hover {
  border: none;
}

.headerbar a:before,
.footerbar a:before {
  content: "> ";
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-center {
  margin: 0px auto;
  text-align: center;
  clear: both;
}

@media screen and (max-width: @breakpoint-ios) {
  .pull-right,
  .pull-left,
  .pull-center {
      float: none;
      clear: both;
      width: 100%;
      display: block;
  }
}

.form-title {
.inverse;
  padding: 10px;
  margin: 0 0 -1px 0;
  display: inline-block;
  width: auto;
}

.form-group {
  margin: 0 0 20px 0;
}

.bigleft {
  width: 49%;
  float: left;
}

.bigright {
  width: 49%;
  float: right;
}

.biglogin {
  width: 50%;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  background: black;
  padding: 20px;
  .mainborder;
  box-shadow: 10px 10px 0 0 black;
}

.biglogin p {
  margin: 10px 0 0 0;
}

.biglogin form button {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
}

.biglogin .form-group form input {
  display: block;
  width: 100%;
  font-size: 200%;
}

.biglogin h1 {
  font-size: 200%;
}

form button {
  border: 2px solid @maincolor;
  background: @fill;
  color: @maincolor;
  .font-stack;
  font-size: 150%;
}

form button:hover {
.inverse;
}

form button:active,
form button:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
.inverse;
}

form.vertical input,
form.vertical button,
form.vertical textarea {
  display: block;
  width: 100%;
  margin: 10px 0 0 0; 
}

.dialog {
  .mainborder;
  padding: 20px;
  position: absolute;
  z-index: 1000;
  left: 15%;
  right: 15%;
  top: 25%;
  box-shadow: 10px 10px 0 0 black;
}

.error {
  background: rgb(255,0,0);
  color: white;
  border-color: rgb(255,0,0);
  text-transform: uppercase;
}

.dialog.error h1 {
  border-color: white !important;
}

.dialog.error h1:before {
  content: "> ";
}

// .leftbar,
// .rightbar,
// .center,
// .wide,
// .fiftyfifty {
//   box-shadow: 0px 0px 8px lighten(@maincolor, 10%),
//   inset 0px 0px 8px lighten(@maincolor, 10%);
// }

.leftbar {
  float: left;
  width: 25%;
  padding: 20px;
  .mainborder;
  margin: 0 1% 0 0;
}

.rightbar {
  float: right;
  width: 25%;
  padding: 20px;
  .mainborder;
  text-align: right;
}

.center {
  width: 48%;
  .mainborder;
  padding: 20px;
  background: @fill;
  float: left;
  margin: 0 1% 0 0;
}

.wide {
  width: 74%;
  margin: 0 0 40px 0;
  .clearfix();
}

.fiftyfifty {
  width: 36.5%;
  float: left;
  margin: 0 1% 0 0;
  .mainborder;
  padding: 20px;
}

@media screen and (max-width: @breakpoint-ios) {
  .rightbar,
  .center,
  .leftbar,
  .wide,
  .fiftyfifty {
    width: 100%;
    float: none;
    margin: 0 0 10px 0;
  }
}


.location-box img {
  display: block;
  margin: 0 auto;
}

ul.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.options li {
  margin: 0 0 10px 0;
  padding: 0;
}

ul.options li a:before {
  content: "> ";
}

.rightbar ul.options li a:after {
    content: " <";
}

.rightbar ul.options li a:before {
    content: "";
}

ul.options li a {
  .mainborder;
  padding: 5px;
  display: block;
  color: @maincolor;
  text-decoration: none;
}

ul.options li a:hover {
.inverse;
}

.dot-leader {
  margin: 0 0 20px 0 !important;
}

.dot-leader,
.dot-leader li {
  margin: 0;
  list-style-type: none;
  clear: both;
  padding: 0;
}

.dot-leader li {
  border-bottom: 1px dotted @maincolor;
  height: 14px;
}

.dot-leader li .left,
.dot-leader li span:first-child {
  float: left;
  text-align: left;
  background: black;
  padding: 0 5px 0 0;

}

.dot-leader li .right,
.dot-leader li span:last-child {
  float: right;
  text-align: right;
  background: black;
  padding: 0 0 0 5px;
}

.options .options {
  padding: 0 0 0 10px;
  border-left: 1px dotted @maincolor;
}

.technical {
  font-family: ;
  .mainborder;
  padding: 10px;
}

.technical p {
  margin: 0;
}

.technical strong {
  text-transform: uppercase;
}

.rightbar #fingerprint,
.leftbar #fingerprint {
  font-size: 75%;
  margin: -20px 0 20px 0;
  display: block;
}

.ca-logo {
  margin: 10px auto 10px auto;
  display: block;
  max-width: 75%;
  height: auto;
}

.green {
  color: @green;
}

.red {
  color: @red;
}

.planet {
  background: @maincolor;
}

.ca-logo-path,
.planet-icon {
  fill: @maincolor;
}

.meters {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.meters li {
  margin: 0 0 10px 0;
  padding: 0;
  .font-fallback;
}

.progress {
  .mainborder;
  padding: 2px;
  height: 13px;
  margin: 3px 0;
}

.progress div {
  height: 7px;
  display: block;
  background: @maincolor;
}

.panic {
  -webkit-animation: panic 2s infinite linear;
  border-color: red;
  color: red;
}

.panic div {
  background: red;
}

@-webkit-keyframes panic {
  0%,75%,100% {box-shadow: 0 0 10px red,inset 0 0 10px red;}
  60%, 90% {box-shadow: 0 0 0px red;}
}


.credits {
  color: @credits;
}

.btn {
.inverse;
  padding: 5px;
  font-size: 150%;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
}

.btn:hover {
  background: @fill;
  color: @maincolor;
  .mainborder;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-danger {
  color: @red;
  background: darken(@red, 40%);
}

.btn-danger:hover {
  color: darken(@red, 40%);
  background: @red;
}

td .btn {
  display: block;
  font-size: 90%;
}

#map-canvas {
  width: 100%;
  height: 512px;
  .mainborder;
  color: black;
}

.notification {
  .headerbar;
  -webkit-animation: notification .25s linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2s
}

@-webkit-keyframes notification {
  0% {top: 0px;}
  100%{top: -40px;}
}

#Countdown {
  .mainborder;
  font-size: 750%;
  text-align: center;
}

@media screen and (max-width: @breakpoint-ios) {
  #Countdown {
    font-size: 370%;
  }
}

#ftlmsg {
  .mainborder;
  background: @fill;
  padding: 20px;
  margin-top: -1px;
  font-size: 200%;
}

.fit{display:block;float:left}.colorbars{position:absolute;top:0;left:0;right:0;bottom:0;z-index:10}.first-row{width:14.285714285714286%;height:70%;display:block;float:left}.second-row{width:14.285714285714286%;height:5%;display:block;float:left}
.third-row{width:14.285714285714286%;height:25%;display:block;float:left}.gray{background:#808080}.yellow{background:#ff0}.cyan{background:#0ff}.green-cb{background:#0f0}.magenta{background:#f0f}.red-bar{background:#f00}.blue{background:#00f}.black{background:#000}
.white{background:#fff}.gray-1{background:#d4d4d4}.gray-2{background:#ababab}.gray-3{background:#545454}.gray-4{background:#292929}
.colorbars h1 {
  background: black;
  color: white;
  padding: 20px;
  font: 24px/32px Monospace;
  position: absolute;;
  bottom: 40px;
  left: 20px;
  border: none;
  -webkit-font-smoothing: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  .mainborder;
}

table th {
.inverse;
  padding: 5px;
  text-align: left;
  border: 1px solid #444;
}

table tr:hover {
  background: darken(@maincolor, 50%);
}

table td {
  padding: 5px;
  border: 1px solid #444;
}

table tr {
  position: relative;
}

table tr form {
  border: none;
  padding: 0px;
  background: transparent;
  font-size: inherit;
}

table tr form input,
table tr form button {
  font-size: inherit;
}


tr.unread {
  background: #333;
}

tr.unread.system {
  background: darken(red, 20%);
}

.xdebug-error,
.xdebug-error tbody tr th {
  background: orange;
  color: black;
  font: Monospace;
  font-size: 125%;
}

.helpText {
  .mainborder;
  font-family: Monospace;
  padding: 5px;
  position: absolute;
  z-index: 50;
  background: black;
}

.beacon {
  padding: 10px;
}

.beacon.distress {
  background: darken(@red, 40%);
  color: red;
  font-size: 125%;
  margin: 0 0 10px 0;
  border: 1px solid red;
}

.beacon h1 {
  border: none;
  margin: 0 0 10px 0;
}

.beacon.distress .fa {
  text-shadow: 0 0 8px red;
  -webkit-animation: pulse infinite 2s linear;
}

@-webkit-keyframes pulse {
  0%,100% {text-shadow: none;}
  50%,75% {text-shadow: 0 0 8px red;}
}

.contacts {
  .clearfix;
}

.contact {
  width: 49%;
  .mainborder;
}

.contact:nth-child(even) {
  float: left;
}
.contact:nth-child(odd) {
  float: right;
}

.contact p {
  padding: 0 10px;
  margin: 0;
}

.contact h3 {
  .inverse;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.contact .fingerprint {
  font-size: 75%;
  display: block;
  padding: 10px;
  text-align: right;
}

.contact .meters,
.contact .dot-leader {
  padding: 0 10px;
}

.contact .btn-block {
  border: 1px solid black;
}

.contact .btn-block:hover {
  border: 1px solid black;
  border-top-color: @maincolor;
}

.bignumber {

}

.bignumber .number {
  font-size: 750%;
  display: inline;
  letter-spacing: -5px;
}

.bignumber .unit {
  display: inline;
}

.invoice {
  .mainborder;
  padding: 10px;
}

.invoice h2 {
  border-bottom: 2px solid @maincolor;
}

.invoice .dot-leader li:last-child {
  border-top: 2px solid @maincolor;
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  height: 21px;
}

.msg.single {
  .mainborder;
  margin: 0 0 10px 0;
}

.msg.single.unread{
  
}

.msg.single.self {
  text-align: right;
}

.msg.single p {
  padding: 0 10px;
}

.msg.single p:last-child {
  margin: 0 0 5px 0;
  padding: 0 10px;
}

.msg.single h3 {
  background: @maincolor;
  color: black;
  padding: 10px;
  margin: 0;
}

.msg.single h3 small {
  display: block;
  font-size: 65%;
  margin: -1px 0 0 0;
  border-top: 2px solid black;
  padding: 2px 0 0 0;
}

.msg.single p small {
  font-size: 75%;
}

.msg-reply h3 {
  font-size: 150%;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: 3px solid @maincolor;
}

.msg-reply button {
  display: block;
  width: 100%;
}

.commod {
  padding: 5px;
  .mainborder;
  border-left-width: 10px;
  margin: 0 0 10px 0;
  background: @fill;
}

.commod h3 {
  margin: 0;
}
.commod h3 small {
  display: block;
}

.commod form {
  padding: 0;
  border: none;
  background: transparent;
  float: right;
}

.commod form input,
.commod form button {
  font-size: inherit;
  display: block;
  width: 200px;
  min-width: 0px;
}

.commod form button {
  .mainborder;
}


ul.options li.color {
  padding: 5px;
}

ul.options.changelog li.olive:before {
  content: 'New •';
}

ul.options.changelog li.yellow:before {
  content: 'Changed •';
}

ul.options.changelog li.red:before {
  content: 'Removed •';
}

ul.options.changelog li p {
  padding: 0;
  margin: 0;
}

.options li.color.navy    {color: @white; background: @navy;   }
.options li.color.blue    {color: @white; background: @blue;   }
.options li.color.aqua    {color: @black; background: @aqua;   }
.options li.color.teal    {color: @white; background: @teal;   }
.options li.color.olive   {color: @white; background: @olive;  }
.options li.color.green   {color: @black; background: @green;  }
.options li.color.lime    {color: @black; background: @lime;   }
.options li.color.yellow  {color: @black; background: @yellow; }
.options li.color.orange  {color: @white; background: @orange; }
.options li.color.red     {color: @white; background: @red;    }
.options li.color.maroon  {color: @white; background: @maroon; }
.options li.color.fuchsia {color: @white; background: @fuchsia;}
.options li.color.purple  {color: @white; background: @purple; }
.options li.color.white   {color: @black; background: @white;  }
.options li.color.silver  {color: @white; background: @silver; }
.options li.color.gray    {color: @white; background: @gray;   }
.options li.color.black   {color: @white; background: @black;  }

.zebra {
  background: @maroon;
}