//Commodity colors

.commod-regular,
.commod-R {
  background: darken($teal, 10%);
}

.commod-special,
.commod-S {
  background: darken($blue,20%);
}

.commod-mission,
.commod-M {
  background: darken($maroon,10%);
}