.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  @include mainborder();
  margin: 0 0 10px 0;
  border-spacing: 0;
}

.table.sm {
  font-size: .85em;
}

.table th {
  background-color: $maincolor;
  padding: 5px;
  text-align: left;
  border: 1px solid #444;
  background-repeat: no-repeat;
  background-position: right center;
  color: $black;
}

.table tr {
  position: relative;
}

.table tr:hover {
  background: $maincolor / 8;
}

.table td {
  padding: 5px;
  border: 1px solid #444;
  height: 100%;
  position: relative;
}

.table tr.danger {
  background: $red/4;
}

.tablesorter-headerUnSorted {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

.tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
